.vs/
CsSocket/CsSocket/bin/
DarkWolfCraftSys/DarkWolfCraftSys/bin/
DarkWolfCraftUI/DarkWolfCraftUI/bin/
DWC_Calculator/DWC_Calculator/bin/
DWC_CurrencyConverter/DWC_CurrencyConverter/bin/
DWC_DarkWolf/DWC_DarkWolf/bin/
DWC_Gasoline/DWC_Gasoline/bin/
DWC_MC_Manager/DWC_MC_Manager/bin/
DWC_Messenger/DWC_Messenger/bin/
DWC_ServerTerminal/DWC_ServerTerminal/bin/
DWC_TEST/DWC_TEST/bin/
DWC_TEST_Chart/DWC_TEST_Chart/bin/
DWC_TrainAndBus/DWC_TrainAndBus/bin/
DWC_VoiceAssistent/DWC_VoiceAssistent/bin/
CsSocket/CsSocket/obj/
DarkWolfCraftSys/DarkWolfCraftSys/obj/
DarkWolfCraftUI/DarkWolfCraftUI/obj/
DWC_Calculator/DWC_Calculator/obj/
DWC_CurrencyConverter/DWC_CurrencyConverter/obj/
DWC_DarkWolf/DWC_DarkWolf/obj/
DWC_Gasoline/DWC_Gasoline/obj/
DWC_MC_Manager/DWC_MC_Manager/obj/
DWC_Messenger/DWC_Messenger/obj/
DWC_ServerTerminal/DWC_ServerTerminal/obj/
DWC_TEST/DWC_TEST/obj/
DWC_TEST_Chart/DWC_TEST_Chart/obj/
DWC_TrainAndBus/DWC_TrainAndBus/obj/
DWC_VoiceAssistent/DWC_VoiceAssistent/obj/
/DWC_Weather/obj/x64/Debug
/DWC_Calculator/obj/x64/Debug
/DWC_CurrencyConverter/bin/Debug
/DarkWolfCraftSys/obj/x64/Debug
/DWC_Gasoline/bin/x64/Debug
/DWC_TrainAndBus/bin/Debug
/DWC_VoiceAssistent/bin/x64/Debug
/DWC_VoiceAssistent/obj/Release
